*.DS_Store

ODPlayground.playground/*
!ODPlayground.playground/Contents.swift

Memory Leak Test/*
!Memory Leak Test/Memory Leak Test/Person.swift
!Memory Leak Test/Memory Leak Test/ViewController.swift